{% load static %}
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="dt-sc-css-css" href="{% static 'css/shortcodes.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="dt-animations-css" href="{% static 'css/animations.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="resmap_css-css" href="{% static 'css/resmap.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="contact-form-7-css" href="{% static 'css/styles.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="rs-plugin-settings-css" href="{% static 'css/settings.css' %}" type="text/css" media="all" />

    <style id="rs-plugin-settings-inline-css" type="text/css">
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

        .tp-caption a:hover {
            color: #ffa902
        }
    </style>

    <link rel="stylesheet" id="meanmenu-css-css" href="{% static 'css/meanmenu.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="prettyphoto-css"  href="{% static 'css/prettyPhoto.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="default-css"      href="{% static 'css/style2.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="skin-css"         href="{% static 'css/style3.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="custom-font-awesome-css" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" id="responsive-css"  href="{% static 'css/responsive.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="mytheme-google-fonts-css"
        href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" type="text/css"
        media="all" />
