{% load static %}
<footer id="footer">
    <div class="container">
        <div class='column dt-sc-one-fourth first'></div>
        <div class='column dt-sc-one-fourth '></div>
        <div class='column dt-sc-one-fourth '></div>
        <div class='column dt-sc-one-fourth '></div>
    </div>

    <div class="container">
        <div class="copyright">
            <div class='copyright-content'>Copyright &copy; since 2022, Go Pharma All Rights Reserved</div>
            <div class="footer-logo">
                <a href="/" title="GO Pharma">
                    <img class="normal_logo" src="{% static 'imgs/logo.jpg' %}" alt="Footer Logo" title="Footer Logo" height="100" width="100">
                    <img class="retina_logo" src="{% static 'imgs/logo.jpg' %}" alt="Go Pharma" title="Go Pharma"
                        style="width:150px;; height:40px;" />
                </a>
            </div>
        </div>
    </div>
</footer>