{% load static %}
<script type="text/javascript" src="{% static 'js/inview.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tabs.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.viewport.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.carouFredSel-6.2.1-packed.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tipTip.minified.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.donutchart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shortcodes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.inview.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom-public.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.form.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public/retina.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public/jquery.ui.totop.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public/easing.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public/jquery.smartresize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public/jquery.prettyPhoto.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public/jquery.meanmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public/jquery.bxslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wp-embed.min.js' %}"></script>