{% load static %}
<header id="header">

    <!-- **Header Container** -->
    <div class="container">
        <!-- **Logo - End** -->
        <div id="logo">
            <a href="/" title="Pro Pharma">
                <img class="normal_logo" src="{% static 'imgs/logo.png' %}" alt="Pro Pharma" title="Pro Pharma" height="80" width="130"/>
                <img class="retina_logo" src="{% static 'imgs/logo.png' %}" alt="Pro Pharma" title="Pro Pharma"
                    style="width:206px;; height:40px;;" />
            </a>
        </div><!-- **Logo - End** -->

        <!-- **Navigation** -->
        <div id="primary-menu">
            <nav id="main-menu">
                <ul id="menu-main-menu" class="menu">
                    <li id="menu-item-708"
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-206 current_page_item menu-item-depth-0 menu-item-simple-parent ">
                        <a href="/">Home</a><span class="arrow"> </span></li>
                    <li id="menu-item-709"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0 menu-item-simple-parent ">
                        <a href="{% url 'about' %}">About</a><span class="arrow"> </span></li>
                    <li id="menu-item-719"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0 menu-item-simple-parent ">
                        <a href="{% url 'products' %}">Products</a><span class="arrow"> </span></li>
                    <li id="menu-item-758"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0 menu-item-simple-parent ">
                        <a href="{% url 'check_code' %}">Anti-Counterfeit</a><span class="arrow"> </span></li>
                    <li id="menu-item-712"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0 menu-item-simple-parent ">
                        <a href="{% url 'contact' %}">Contact</a><span class="arrow"> </span></li>
                </ul>
            </nav><!-- **Navigation - End** -->
        </div>

    </div><!-- **Header Container End** -->

</header>