{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- **Main** -->
<div id="main">
    <!-- **Breadcrumb** -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="breadcrumb">
                <a href="/">Home</a><span class='fa fa-angle-double-right'>
                </span><a href="{% url 'products' %}" rel="tag">{{product.category.name}}</a><span class='fa fa-angle-double-right'> </span>
                <h1>{{product.name}}</h1>
            </div><!-- ** breadcrumb - End -->
            <!-- **Searchform** -->

            <form method="get" id="searchform" action="/">
                <input id="s" name="s" type="text" value="Enter Keyword" class="text_input"
                    onblur="if(this.value==''){this.value='Enter Keyword';}"
                    onfocus="if(this.value =='Enter Keyword') {this.value=''; }" />
                <input name="submit" type="submit" value="Go" />
            </form><!-- **Searchform - End** -->
        </div>
    </section><!-- **Breadcrumb** -->
    <div class="container">
        <!-- **Primary Section** -->
        <section id="primary" class="content-full-width">
            <!-- #post-922 starts -->
            <article id="post-922"
                class="portfolio-single post-922 dt_portfolios type-dt_portfolios status-publish has-post-thumbnail hentry portfolio_entries-1ml-injections">
                <div class="column dt-sc-two-third first">
                    <ul class="portfolio-slider">
                        <li> <img
                                src='{{product.image.url}}'
                                alt='' title='' /></li>
                    </ul>
                </div>
                <div class="column dt-sc-one-third last">
                    <h3>{{product.name}}</h3>
                    <p class="tags"> <span class="fa fa-tags"> </span> <a
                            href="{{product.image.url}}" rel="tag"> {{product.category.name}}</a></p>
                    <p>
                        {{product.description}}
                    <p>
                </div>
                <!-- **Post Nav** -->
                <div class="post-nav-container">
                    <div class="post-prev-link"><a
                            href="{% url 'products' %}" rel="prev"><i
                                class="fa fa-arrow-circle-left"> </i> {{product.category.name}}<span> (Prev Entry)</span></a> </div>
                    <div class="post-next-link"></div>
                </div><!-- **Post Nav - End** -->

            </article><!-- #post-922 Ends -->
            <!-- Related Posts Start-->
            <div class="clear"> </div>
            <div class="dt-sc-hr-invisible"> </div>
            <h3>Related Products</h3>
            <div class="portfolio column dt-sc-one-third  first">
                {% for prod in related_products %}
                    <div class="portfolio-thumb">
                        <img src="{{prod.image.url}}"
                            title="Nandrolone Phenylpropionate 1ml" alt="Nandrolone Phenylpropionate 1ml" />

                        <div class="image-overlay">
                            <a href="{{prod.image.url}}"
                                data-gal="prettyPhoto[gallery]" title="" class="zoom"> <span
                                    class="fa fa-arrows-alt"></span> </a>
                            <a href="{% url 'product_detail' prod.pk%}"
                                title="Nandrolone Phenylpropionate 1ml" class="link"> <span class="fa fa-external-link">
                                </span> </a>
                        </div>
                    </div> <!-- . portfolio-image -->

                    <div class="portfolio-detail">
                        <h5><a href="{{prod.image.url}}"
                                title="Nandrolone Phenylpropionate 1ml">{{prod.name}}</a></h5>
                        <p>{{prod.description}}</p>
                    </div>
                    <!-- .Portfolio-details -->
                {% endfor %}
            </div>
            <!-- Related Posts End-->

        </section><!-- **Primary Section** -->
    </div><!-- **Container - End** -->
</div>
<!-- **Main - End** -->


{% endblock %}