{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- **Main** -->
<div id="main">
    <!-- **Breadcrumb** -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="breadcrumb">
                <a href="/">Home</a><span class='fa fa-angle-double-right'>
                </span>
                <h1>Our Products</h1>
            </div><!-- ** breadcrumb - End -->
            <!-- **Searchform** -->

            <form method="get" id="searchform" action="/">
                <input id="s" name="s" type="text" value="Enter Keyword" class="text_input"
                    onblur="if(this.value==''){this.value='Enter Keyword';}"
                    onfocus="if(this.value =='Enter Keyword') {this.value=''; }" />
                <input name="submit" type="submit" value="Go" />
            </form><!-- **Searchform - End** -->
        </div>
    </section><!-- **Breadcrumb** -->
    <div class="container">
        <!-- **Primary Section** -->
        <section id="primary" class="content-full-width">
            <!-- #post-211 -->
            <div id="post-211" class="post-211 page type-page status-publish hentry">
            </div><!-- #post-211 -->


            <!-- ** Portfolio Item Loop Begin ** -->
            <div class="dt-sc-sorting-container">
                <a href="{% url 'products' %}" class="active-sort" title="" data-filter=".all-sort">All</a>
                {% for category in categories %}
                    <a href="{% url 'category_products' category.pk %}" data-filter=".10ml-injections-sort">{{category.name}}</a>
                {% endfor %}
            </div>

            <!-- **Portfolio Container** -->
            <div class="dt-sc-portfolio-container gallery">
                {% for product in products %}
                <!-- Portfolio Item -->
                    <div id="portfolio-922" class=" portfolio dt-sc-one-third  all-sort  1ml-injections-sort ">
                        <div class="portfolio-thumb"><img width="420" height="283"
                                src="{{product.image.url}}"
                                class="attachment-dt-portfolio-small size-dt-portfolio-small wp-post-image"
                                alt="boldenone-undecylenate"
                                srcset="{{product.image.url}} 420w, {{product.image.url}} 1060w, {{product.image.url}} 520w"
                                sizes="(max-width: 420px) 100vw, 420px" />
                            <div class="image-overlay">
                                <a href="{{product.image.url}}"
                                    data-gal="prettyPhoto[gallery]" title="" class="zoom"> <span
                                        class="fa fa-arrows-alt"></span> </a>
                                <a href="{% url 'product_detail' product.pk%}" title="Boldenone Undecylenate 1ml" class="link">
                                    <span class="fa fa-external-link"> </span> </a>
                            </div>
                        </div>

                        <div class="portfolio-detail">
                            <h5><a href="{% url 'product_detail' product.pk%}" title="Boldenone Undecylenate 1ml">{{product.name}}</a></h5>
                            <p>{{product.description | truncatechars:30 }}</p>
                        </div>
                    </div>
                    <!-- Portfolio Item End-->
                {% endfor %}

            </div><!-- **Portfolio Section Container End** -->

            <div class="clear"></div>
            <div class="hr-invisible-small"> </div>

            <!-- **Pagination** -->
            <div class="pagination">
                <div class="prev-post"></div>
                <div class="next-post"></div>
            </div><!-- **Pagination - End** -->


            <!-- ** Portfolio Item Loop End ** -->
        </section>


    </div><!-- **Container - End** -->
</div><!-- **Main - End** -->

{% endblock %}