{% extends "base.html" %}
{% load static %}
{% block content %}

            <!-- **Main** -->
            <div id="main">
                <!-- **Breadcrumb** -->
                <section class="breadcrumb-section">
                    <div class="container">
                        <div class="breadcrumb">
                            <a href="https://www.kenwoo-pharma.com">Home</a><span class='fa fa-angle-double-right'>
                            </span>
                            <h1>Contact</h1>
                        </div><!-- ** breadcrumb - End -->
                        <!-- **Searchform** -->

                        <form method="get" id="searchform" action="https://www.kenwoo-pharma.com">
                            <input id="s" name="s" type="text" value="Enter Keyword" class="text_input"
                                onblur="if(this.value==''){this.value='Enter Keyword';}"
                                onfocus="if(this.value =='Enter Keyword') {this.value=''; }" />
                            <input name="submit" type="submit" value="Go" />
                        </form><!-- **Searchform - End** -->
                    </div>
                </section><!-- **Breadcrumb** -->
                <div class="container">
                    <!-- **Primary Section** -->
                    <section id="primary" class="content-full-width">
                        <!-- #post-64 -->
                        <div id="post-64" class="post-64 page type-page status-publish hentry">
                            <div class='column dt-sc-two-third   first'>
                                <h3>Give us a Message</h3>
                                <div role="form" class="wpcf7" id="wpcf7-f554-p64-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="/contact/#wpcf7-f554-p64-o1" method="post" class="wpcf7-form"
                                        novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="554" />
                                            <input type="hidden" name="_wpcf7_version" value="4.5" />
                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f554-p64-o1" />
                                            <input type="hidden" name="_wpnonce" value="4f00baaf4e" />
                                        </div>
                                        <div class="column dt-sc-one-half first">
                                            <p> <label> You Name <span> (required) </span> </label> <br>
                                                <span class="wpcf7-form-control-wrap your-name"><input type="text"
                                                        name="your-name" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                        aria-required="true" aria-invalid="false" /></span>
                                            </p>
                                        </div>
                                        <div class="column dt-sc-one-half">
                                            <p> <label> Your Email <span> (required) </span> </label> <br>
                                                <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                                        name="your-email" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                        aria-required="true" aria-invalid="false" /></span>
                                            </p>
                                        </div>
                                        <div class="clear"> </div>
                                        <div class="hr-invisible-very-small"> </div>
                                        <p><label> Subject </label>
                                            <span class="wpcf7-form-control-wrap your-subject"><input type="text"
                                                    name="your-subject" value="" size="40"
                                                    class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span>
                                        </p>
                                        <div class="clear"> </div>
                                        <div class="hr-invisible-very-small"> </div>
                                        <p><label> Your Message <span> (required) </span> </label>
                                            <span class="wpcf7-form-control-wrap your-message"><textarea
                                                    name="your-message" cols="40" rows="10"
                                                    class="wpcf7-form-control wpcf7-textarea"
                                                    aria-invalid="false"></textarea></span>
                                        </p>
                                        <div class="clear"> </div>
                                        <div class="hr-invisible-very-small"> </div>
                                        <div class="column dt-sc-one-half first">
                                            <p> <label> Enter security code <span> (required) </span> <input
                                                        type="hidden" name="_wpcf7_captcha_challenge_captcha-1"
                                                        value="2563723831" /><img
                                                        class="wpcf7-form-control wpcf7-captchac wpcf7-captcha-captcha-1"
                                                        width="72" height="24" alt="captcha"
                                                        src="https://www.kenwoo-pharma.com/wp-content/uploads/wpcf7_captcha/2563723831.png" /></label>
                                                <br>
                                                <span class="wpcf7-form-control-wrap captcha-1"><input type="text"
                                                        name="captcha-1" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-captchar" autocomplete="off"
                                                        aria-invalid="false" /></span>
                                            </p>
                                        </div>
                                        <div class="column dt-sc-one-half">
                                            <p>&nbsp; <br><input type="submit" value="Send"
                                                    class="wpcf7-form-control wpcf7-submit" /></p>
                                        </div>
                                        <div class="clear"> </div>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                            <div class='column dt-sc-one-third   '>
                                <h3>Contact Info</h3>
                                <p class="dt-sc-contact-info address"><i class='fa fa-rocket'></i><span>Embassy
                                        GolfLinks, Royal Oaks<br>Off Intermediate Ring Road<br>Bangalore 560 071,
                                        India</span></p>
                                <p class="dt-sc-contact-info"><i class='fa fa-phone'></i>Phone :
                                    <span>+91-2242911001</span></p>
                                <p class="dt-sc-contact-info"><i class='fa fa-envelope-o'></i>Email : <a
                                        href='mailto:info@kenwoo-pharma.com'>info@kenwoo-pharma.com</a></p>
                                <div class="dt-sc-clear"></div>
                            </div>
                            <div class="social-bookmark"></div>
                            <div class="social-share"></div>
                        </div><!-- #post-64 -->


                    </section><!-- **Primary Section** -->


                </div><!-- **Container - End** -->
            </div><!-- **Main - End** -->

{% endblock %}